{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container container-fluid">
    <h1 class="text" id="top_of_page">Welcome to our company</h1>
</div>
<div class="container">
    <nav class="page_navigation">
        <ol class="">
            <li><a href="#1" class="text_link"> Who is DFS?</a></li>
            <li><a href="#2" class="text_link"> Why do they trust us</a></li>
            <li><a href="#3" class="text_link"> Become the part of DFS!</a></li>
        </ol>
    </nav>  
</div>
<ul class="container text">
    {% for s in objects_array %}
    <li>
        <h4 id="{{s.id}}">{{s.text}}</h4> 
    </li>
    <li>
        <h4>{{s.text_2}}</h4>
    </li>
    <li>
    
        <h4><img src="{{ s.img }}" alt="" style="width: 100%; height: auto; border-radius: 4px;"></h4>
    </li>
    {% endfor %}

{% endblock content %}