{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">Конфигуратор ПК</h1>
    
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
    {% endif %}

    <form method="post" class="p-4 text-white" style="background-color: #204164; border-radius: 12px;" novalidate>
    {% csrf_token %}

    <h3 class="mb-4">Ваши данные</h3>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label text-white">ФИО*</label>
            {{ form.customer_name }}
            {{ form.customer_name.errors }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label text-white">Email*</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label text-white">Телефон*</label>
            {{ form.phone }}
            {{ form.phone.errors }}
        </div>
    </div>

    <h3 class="mt-5 mb-4">Комплектующие</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <label class="form-label text-white">Процессор*</label>
            {{ form.cpu }}
            {{ form.cpu.errors }}
        </div>
        <div class="col-md-6 mb-4">
            <label class="form-label text-white">Видеокарта*</label>
            {{ form.gpu }}
            {{ form.gpu.errors }}
        </div>
        <div class="col-md-6 mb-4">
            <label class="form-label text-white">Оперативная память*</label>
            {{ form.ram }}
            {{ form.ram.errors }}
        </div>
        <div class="col-md-6 mb-4">
            <label class="form-label text-white">Накопитель*</label>
            {{ form.ssd }}
            {{ form.ssd.errors }}
        </div>
    </div>

    <div class="text-center mt-4">
        <button type="submit" class="btn btn-light btn-lg">
            Оформить заказ
        </button>
    </div>
</form>

    
    {% if form.is_bound and form.is_valid %}
    <div class="card mt-4 p-4 text_black">
        <h3>Итого:</h3>
        <p class="fs-4">Общая стоимость: {{ form.instance.total_price }} руб.</p>
    </div>
    {% endif %}
</div>
{% endblock %}